


// @import '/components/blog';
// @import '/components/sidenav';
// @import '/components/directory';
// @import '/components/mailchimp';
@import '/components/logotype';
@import '/components/chimp';
@import '/components/writer';



.BackTop {
	text-align: center;
	padding: $size-2;
	margin-top: $size-4;
	margin-bottom: $size-4;
	cursor: pointer;
  color: v(ui-color);

	&:hover {
		text-decoration: none;
  	color: v(active-color);
	}
}


._content {
  padding: 0;
  margin-top: $size-2;
}




._tag {
  margin-bottom: $size-half;
  // white-space: nowrap;
  line-height: $size-2;
}


// note: toasted isn't wrapped inside --day or --night!!
.toasted {
	background-color: v(alert-bg);
	color: v(alert-text);
	padding: $size-half $size-half !important;
	border-radius: $radius;
}



// this is the wordcount + other things hovering over input
.Data {
	color: v(data-color);
	cursor: pointer;
	position: relative;
	font-size: usetheme(data-counter-size, $novelmonkey);

	&.--half {
		opacity: 0.5;
	}
	&.--none {
		opacity: 0;
		&:hover {
			opacity: 0.2;
		}
	}

	.SessionData {
		position: absolute;
		text-align: center;
		font-size: inherit;
		bottom: $size-2;
		width: 100%;
	}

	&.--zen.--full {
		font-size: usetheme(data-counter-size-full-zen, $novelmonkey);
		&.--serif {
			font-size: usetheme(data-counter-size-full-zen-serif, $novelmonkey);
		}
	}
	&.--serif {
		font-size: usetheme(data-counter-size-serif, $novelmonkey);
	}

}




// menu buttons for both .Menu and .Settings
button, ._button {
	&.--text {
		color: v(ui-color);
		&:hover {
			color: v(active-color) !important; // text color uses --active
		}
	}
}

// Menu that's sitting in the renderer
// the header menu is called "settings" and will probably be a flyout over time
.Menu {

  button.--text {
    padding-left: $size/4;
    padding-right: $size/4;
    font-family: inherit;
    // line-height: inherit;
    // font-size: inherit;
		// @extend ._font-small;
  }
}
	
  .Menu-right {
    text-align: left;
    @include screen-sm {
      text-align: right;
    }
  }
  .Menu-inset {
  	display: inline-block;
    background: v(inset-color-bg);
    border-radius: $radius;
    padding-left: $size-half;
    padding-right: $size-half;
  }


.Settings {
	&.--home {
		// settings menu below the writer
		margin-top: $size-6;
		margin-bottom: $size-4;
		text-align: center;
	}
}




