


// @import '/components/blog';
// @import '/components/sidenav';
// @import '/components/directory';
// @import '/components/mailchimp';
@import '/components/logotype';
@import '/components/chimp';
@import '/components/writer';


button, ._button {
	&.--text {
		&:hover {
			color: v(active) !important; // text color uses --active
		}
	}
}


._content {
  padding: 0;
  margin-top: $size-2;
}




._tag {
  margin-bottom: $size-half;
  // white-space: nowrap;
  line-height: $size-2;
}


// note: toasted isn't wrapped inside --day or --night!!
// .toasted {
//   &.primary.success {
//     background-color: v(alert-bg) !important;
//     color: v(alert-text) !important;
//   }
// }



