

@import 'settings.scss';




// %md-sans_serif {
//   // fixing markdown
//   // &, *, p {
//   body, html {
//     @extend %font-sans;
//     font-size: $size;
//     line-height: $size * 1.5;
//   }
//   p {
//     @extend %font-serif;
//   }
// }

@mixin serif {
  @extend %font-serif;
  font-size: $size-serif;
  line-height: $lineheight-serif;
}

body, html {
  @extend %font-sans;
  // @extend %ease-xslow;
  font-size: $size;
  line-height: $size * 1.5;
  // background-color: usetheme(black, $colors_);
  background-color: usetheme(blue-dark, $novelmonkey);
}

p, ul {
  // letter-spacing: 0.3px;
  // lots of paragraphs are dependent on containers
}

@mixin themeease() {
  @include ease($speed-xslow);
  transition-property: background-color, border-color, opacity, width, top, left, padding, margin;
  // exclude: line-height, font-size;
  // height: 100%;
  // max-width: 100%;
  // width: 100%;
  // top: 0;
  // left: 0;
  // z-index: 200;
}


$curtheme: $daylight;
.test {
  $curtheme: $daylight;
  $colortest: usetheme(writer-color, $curtheme);
  color: $colortest;
}
.testone {
  $curtheme: $moonlight; 
  $colortest: usetheme(writer-color, $curtheme);
  color: $colortest;
}



:root {
  // @include themevars($colors_); // add the standard theme to cssvar color list

  // default
  // .--daylight {
  @include themevars($daylight);
  &,* {
    @include themeease();
    @include selection-color(v(input-select-bg), v(input-select-color), none);
  }
  // }
  .--twilight {
    @include themevars($twilight);
    &,* {@include themeease();}
  }
  .--moonlight {
    @include themevars($moonlight);
    &,* {@include themeease();}
  }
  .--dawnlight { // classic novelmonkey 2 colors
    @include themevars($dawnlight);
    &,* {@include themeease();}
  }


}




h1 {
  line-height: $font-h1 * 1.0;
  padding-bottom: $size-base;
}

h2 {
  // font-size: $size-2;
  line-height: $font-h2 * 1.2;
  // padding-top:0;
  // padding-bottom: 0;
}

h3 {
  font-size: $size-2;
  line-height: $size-3;
  // padding-top:0;
  // padding-bottom: 0;
}


.logo-link {
  &:after {
    content: none !important;
  }
}

// links
a {
  text-decoration: underline;
  // text-decoration-color: $color-links;
  border: 0;
  position: relative;
  // color: $color-green;
  // @extend ._pointer-no_events;
  // @extend %ease-fast;
  &:hover {
    // color: $color-links;
  }
}




%links-bg,
._links-bg {
  position: relative;
  &:after {
    content: ' ';
    position: absolute;
    left: $offset; bottom: -2px;
    height: $offset/2;
    // background: $color-main;
    padding: $offset;

    width: 100%;
    z-index: -1;

    // clip-path: polygon(0% 20%, 80% 0%, 100% 0, 100% 100%, 0 100%);
  }
}



// .title {
//   padding-bottom: $size-base;
// }
// .subtitle {
//   &, p {
//     font-size: $size-1;
//     line-height: $size-2;
//     @extend %font-serif;
//   }
// }



// p {
//   // font-size: $font-size-base;
//   // line-height: $font-lineheight;
//   @extend %md-sans_serif;

//   padding-left: 0;
//   // @extend %font-serif;

  a {
    font-weight: 700;
    &+a {
    }
  }
// }


._md--margin-none {
  p {
    margin: 0;
  }
}


@import 'components';
@import 'sections';



.Intro {
  @extend .Writer;
  min-height: inherit;
  height: inherit;
  margin-bottom: $size;
  // background-color: v(writer-bg);
  @include usevar(background-color, writer-bg);

  // color: v(writer-color);
  @include usevar(color, writer-color);
  // border-radius: $radius;
  // padding: $size-half $size;
  // margin: 0 auto;
  // max-width: $writer-width;
  // padding: $size $size-2;
  // @extend ._depth-400;

  a {
    // color: v(ui-color);
    @include usevar(color, ui-color);
    &:hover {
      // color: v(active-color);
      @include usevar(color, active-color);
    }
  }
}


/* 

  Depth
  - eventually bring this into coeur

 */


$depth_: (
  400: 0px 4px 12px rgba(70,70,70, 0.2),
) !default;


// 
//    SHADOWS
// 

._depth-400 {
  box-shadow: usetheme(400, $depth_);
}


#drift-widget-container {
  position: relative !important;
}
#drift-widget {
  position: absolute !important;
  // right: 5% !important; 
  bottom: 300px !important;

  @include screen-xs {
    bottom: 0 !important;
  }
}
  .CHAT {
    background-color: red !important;

    svg {
      fill: blue !important;
    }
  }

