
/* 

  This needs to be overhauled...

 */


$theme-sizes: (
  size-diff: 0,
  radius: 4px,
) !default;



$size: 16px;
$size-serif: $size + 5px;
$lineheight-serif: $size * 1.7;

$size-serif-small: $size + 2px;
$lineheight-serif-small: $size * 2.2;

$size-mono: $size - 0px;
$lineheight-mono: $size * 1.5;

$font-lineheight: 22px;
// $font-size-base: 18px;

$font-small: $size - 2px;
$font-large: $size + 2px;



//   Measurements
$offset: 5px;
$z-popup: 100; // 
$z-top: 90;


// reconfigure xs (phone) sizes to be smaller
$width-xs-max: 583px    !default;
$width-sm-min: 584px    !default;


@import '../../node_modules/coeur/styles/index.scss';



%font-sans {
  // font-family: 'Poppins', "-apple-system", "BlinkMacSystemFont", "system-ui", "Segoe UI", "Encode Sans", "Open Sans", "Oxygen-Sans", "Helvetica", "arial", "sans-serif";
  font-family: "-apple-system", "BlinkMacSystemFont", "system-ui", "Segoe UI", "Encode Sans", "Open Sans", "Oxygen-Sans", "Helvetica", "arial", "sans-serif";
} ._font-sans {@extend %font-sans;}


%font-serif {
  // replaced EB Garamond with Lora
  font-family: 'EB Garamond', 'Lora', 'Georgia', 'Garamond', 'Times', serif;
  // looks washed out; might be a Mojave thing
  // -webkit-font-smoothing: auto !important;
  // font-smoothing: auto !important;
} ._font-serif {@extend %font-serif;}

%font-mono,
._font-mono {
  font-family: Courier, Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', monospace;
} ._font-mono, ._font-code { @extend %font-mono; }

%font-display,
._font-display {
  // font-family: 'Playfair Display', 'Georgia', serif;
  @extend %font-sans;
}


// $use-cssvars: false;


%font-display,
._font-display {
  // nothing here for stylecoeur
  // @extend %font-sans;
  // font-family: $font-display;
}

@include addtheme($theme-sizes);


@function color($color, $adjust) {
  @if ($adjust > 100) {
    @return darken($color, $adjust - 100 );
  }
  @return lighten($color, $adjust );
}

$color-blue-light: #F3FBFD;

// contextual colors
$bg-color: $color-blue-light;

// color map; contextual colors?
$novelmonkey: (
  blue-light: #F3FBFD,
  blue-dark: #0E1E24,
  whiter_a: rgba(usetheme(white, $colors_), 1),

  // used for inputs
  // red: rgba(usetheme(red, $colors_), 0.8),
  // red-300: rgba(usetheme(red, $colors_), 0.15),
  red: rgba(#BD5843, 0.9),
  red-400: rgba(usetheme(red, $colors_), 0.8),
  red-300: rgba(#BD5843, 0.7),
  red-200: rgba(usetheme(red, $colors_), 0.4),
  red-100: rgba(#BD5843, 0.4),
  red-50: rgba(#BD5843, 0.3),

  blue-700: rgba(usetheme(blue, $colors_), 0.9),
  blue: rgba(usetheme(blue, $colors_), 0.6),
  blue-500: #8BADC2,
  blue-400: rgba(#8BADC2, 0.6),
  blue-300: rgba(usetheme(blue, $colors_), 0.25),
  blue-200: #27323B,
  blue-100: #181A20,
  blue-0: #1A1A1A,

  yellow: rgba(#FFF9D2, 1),
  yellow-700: rgba(#e4dfb2, 1),

  black-50: #050507,

  writer-width: 760px,
  writer-width-wide: 880px,
  writer-width-narrow: 640px,


  // input
  input-size: $size + 2px,
  input-size-serif: $size + 5px,
  input-size-mono: $size + 2px,

  input-size-zen: $size + 6px,
  input-size-zen-serif: $size + 12px,
  input-size-zen-mono: $size + 6px,

  input-height: $size-4,
  input-height-active: $size-6,

  input-height-zen: $size-8,
  input-height-zen-active: $size-9,

  data-counter-size: $size-4,
  data-counter-size-serif: $size-5,
  data-counter-size-full-zen: $size-5,
  data-counter-size-full-zen-serif: $size-6,
);
// @include colorate($novelmonkey);


// contextual themes

// day colors, bright cafe, outside, lots of sun
// high contrast, avoid soft colors
$daylight: (
  bg-color: usetheme(blue-light, $novelmonkey),
  menu-bg: rgba(usetheme(whiter_a, $novelmonkey), 0.8),

  footer-color-bg: color(usetheme(blue-light, $novelmonkey), 110),
  footer-color: usetheme(black, $novelmonkey),
  footer-color-link: usetheme(blue, $colors_),
  footer-color-link-hover: usetheme(blue-300, $colors_),

  text-color: usetheme(black, $novelmonkey),
  inset-color-bg: usetheme(silver-lighter, $colors_),
  ui-color: usetheme(black, $novelmonkey),
  logo-color: usetheme(blue-700, $novelmonkey),

  alert-bg: usetheme(blue-dark, $novelmonkey),
  alert-text: usetheme(black, $colors_),

  // context colors 
  active-color: usetheme(blue, $novelmonkey),
  data-color: usetheme(blue-700, $novelmonkey),

  // renderer colors
  // paper / text
  writer-bg: usetheme(whiter_a, $novelmonkey),
  writer-color: usetheme(black, $novelmonkey),
  writer-input-bg: rgba(248,248,248,0.88),
  writer-zen-shadow: 0 0 8px rgba(80, 80, 80, 0.4),

  // inputs
  input-bg: usetheme(silver-lighter, $colors_),
  input-bg-active: usetheme(silver-lighter, $colors_),
  input-color: usetheme(black, $colors_),
  input-color-placeholder: usetheme(gray, $colors_),
  input-border: usetheme(blue, $novelmonkey),
  input-border-hover: usetheme(blue-300, $novelmonkey),
  input-border-active: transparent, // usetheme(blue-300, $novelmonkey),
  input-focus-opacity: 0.12,
  input-select-color: usetheme(blue, $colors_),
  input-select-bg: usetheme(blue-light, $novelmonkey),
);

// evening colors; house lights, dark outside
$twilight: (
  bg-color: usetheme(blue-200, $novelmonkey),
  menu-bg: rgba(usetheme(blue-100, $novelmonkey), 0.8),

  footer-color-bg: usetheme(blue-0, $novelmonkey),
  footer-color: usetheme(gray, $colors_),
  footer-color-link: usetheme(red, $novelmonkey),
  footer-color-link-hover: usetheme(red-300, $novelmonkey),

  text-color: usetheme(black, $novelmonkey),
  inset-color-bg: usetheme(blue-700, $colors_),
  ui-color: usetheme(gray, $colors_),
  logo-color: usetheme(red, $novelmonkey),

  alert-bg: usetheme(red, $novelmonkey),
  alert-text: usetheme(yellow, $novelmonkey),

  // context colors 
  active-color: usetheme(red, $novelmonkey),
  data-color: usetheme(blue-500, $novelmonkey),

  // renderer colors
  // paper / text
  writer-bg: usetheme(blue-100, $novelmonkey),
  writer-color: usetheme(blue-500, $novelmonkey),
  writer-input-bg: rgba(21,21,31,0.93),
  writer-zen-shadow: 0 0 8px rgba(80, 80, 80, 0.4),

  // inputs
  input-bg: rgba(21,21,31,0.8),
  input-bg-active: rgba(21,21,31,0.93),
  input-color: usetheme(blue-500, $novelmonkey),
  input-color-placeholder: usetheme(blue-400, $novelmonkey),
  input-border: usetheme(blue, $novelmonkey),
  input-border-hover: usetheme(blue-300, $novelmonkey),
  input-border-active: usetheme(blue-300, $novelmonkey),
  input-focus-opacity: 0.12,
  input-select-color: usetheme(blue-500, $novelmonkey),
  input-select-bg: usetheme(blue, $colors_),
);

// no lights, dark room, moon shining in
$moonlight: (
  bg-color: usetheme(pureblack, $colors_),
  menu-bg: rgba(usetheme(black-50, $novelmonkey), 0.8),

  footer-color-bg: usetheme(black-50, $novelmonkey),
  footer-color: usetheme(gray-dark, $colors_),
  footer-color-link: usetheme(red-300, $novelmonkey),
  footer-color-link-hover: usetheme(red-400, $novelmonkey),

  text-color: usetheme(black, $novelmonkey),
  inset-color-bg: usetheme(blue-700, $colors_),
  ui-color: usetheme(red-100, $colors_),
  logo-color: usetheme(red-100, $novelmonkey),

  alert-bg: usetheme(red, $novelmonkey),
  alert-text: usetheme(yellow, $novelmonkey),

  // context colors 
  active-color: usetheme(red-400, $novelmonkey),
  data-color: usetheme(red-100, $novelmonkey),
  data-bg: rgba(usetheme(whiter_a, $novelmonkey), 0.3),

  // renderer colors
  // paper / text
  writer-bg: usetheme(black-50, $novelmonkey),
  writer-color: usetheme(red-200, $novelmonkey),
  writer-input-bg: rgba(5,3,2,0.83),
  writer-zen-shadow: 0 0 8px rgba(80, 80, 80, 0.4),

  // inputs
  input-bg: rgba(9,6,6,0.7),
  input-bg-active: rgba(5,3,2,0.83),
  input-color: usetheme(red-400, $novelmonkey),
  input-color-placeholder: usetheme(red-100, $novelmonkey),
  input-border: usetheme(red-100, $novelmonkey),
  input-border-hover: usetheme(red-50, $novelmonkey),
  input-border-active: transparent, //usetheme(blue-300, $novelmonkey),
  input-focus-opacity: 0.35,
  input-select-color: usetheme(red-300, $novelmonkey),
  input-select-bg: usetheme(red-50, $novelmonkey),
);

// for early morning, sunrise, some light
$dawnlight: ( // novelmonkey2 colors
  bg-color: usetheme(yellow, $novelmonkey),

  footer-color-bg: color(usetheme(yellow, $novelmonkey), 110),
  footer-color: usetheme(black, $novelmonkey),
  footer-color-link: usetheme(red, $novelmonkey),
  footer-color-link-hover: usetheme(red-300, $novelmonkey),

  text-color: usetheme(black, $novelmonkey),
  inset-color-bg: usetheme(silver-light, $colors_),
  ui-color: usetheme(red, $novelmonkey),
  logo-color: usetheme(red, $novelmonkey),

  alert-bg: usetheme(red, $novelmonkey),
  alert-text: usetheme(yellow, $novelmonkey),

  // context colors 
  active-color: color(usetheme(red, $novelmonkey), 120),
  data-color: usetheme(red, $novelmonkey),
  data-bg: rgba(usetheme(whiter_a, $novelmonkey), 0.8),

  // renderer colors
  // paper / text
  writer-bg: usetheme(whiter_a, $novelmonkey),
  writer-color: usetheme(black, $novelmonkey),
  writer-input-bg: rgba(248,248,248,0.88),
  writer-zen-shadow: 0 0 8px rgba(80, 80, 80, 0.4),

  // inputs
  input-bg: usetheme(silver-lighter, $colors_),
  input-bg-active: usetheme(silver-lighter, $colors_),
  input-color: usetheme(black, $colors_),
  input-color-placeholder: usetheme(gray, $colors_),
  input-border: usetheme(red-300, $novelmonkey),
  input-border-hover: usetheme(red-100, $novelmonkey),
  input-border-active: transparent, // usetheme(blue-300, $novelmonkey),
  input-focus-opacity: 0.12,
  input-select-color: usetheme(blue-100, $novelmonkey),
  input-select-bg: usetheme(blue-300, $novelmonkey),
);









