
/* 

  This needs to be overhauled...

 */


$theme-sizes: (
  size-diff: 0,
  radius: 4px,
) !default;



$size: 16px;
$size-serif: $size + 6px;
$lineheight-serif: $size * 1.7;


$size-serif-small: $size + 2px;
$lineheight-serif-small: $size * 2.2;

$font-lineheight: 22px;
// $font-size-base: 18px;

$font-small: $size - 2px;
$font-large: $size + 2px;



//   Measurements
$offset: 5px;
$z-popup: 100; // 
$z-top: 90;



@import '../../node_modules/coeur/styles/index.scss';



%font-sans {
  font-family: 'Poppins', "-apple-system", "BlinkMacSystemFont", "system-ui", "Segoe UI", "Encode Sans", "Open Sans", "Oxygen-Sans", "Helvetica", "arial", "sans-serif";
} ._font-sans {@extend %font-sans;}


%font-serif {
  // replaced EB Garamond with Lora
  font-family: 'EB Garamond', 'Lora', 'Georgia', 'Garamond', 'Times', serif;
  -webkit-font-smoothing: auto !important;
  font-smoothing: auto !important;
} ._font-serif {@extend %font-serif;}

%font-mono,
._font-mono {
  font-family: Courier, Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', monospace;
} ._font-mono, ._font-code { @extend %font-mono; }

%font-display,
._font-display {
  // font-family: 'Playfair Display', 'Georgia', serif;
  @extend %font-sans;
}


// $use-cssvars: false;


%font-display,
._font-display {
  // nothing here for stylecoeur
  // @extend %font-sans;
  // font-family: $font-display;
}

@include addtheme($theme-sizes);

@function color($color, $adjust) {
  @if ($adjust > 100) {
    @return darken($color, $adjust - 100 );
  }
  @return lighten($color, $adjust );
}

$color-blue-light: #F3FBFD;

// contextual colors
$color-bg: $color-blue-light;

// color map 
$novelmonkey: (
  blue-light: #F3FBFD,
  blue-dark: #0E1E24,
);
// @include colorate($novelmonkey);


// contextual themes
$daylight: (
  bg: usetheme(blue-light, $novelmonkey),
  footer-bg: color(usetheme(blue-light, $novelmonkey), 110),
  text: usetheme(teal, $novelmonkey),

  alert-bg: usetheme(blue-dark, $novelmonkey),
  alert-txt: usetheme(black, $colors_),

  writer-bg: usetheme(whiter, $colors_),
);

$moonlight: (
  bg: usetheme(blue, $novelmonkey),
  footer-bg: color(usetheme(blue-dark, $novelmonkey), 110),
  text: usetheme(teal, $novelmonkey),
);








