

.Chimp {
  position: relative;
  width: 80px;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;

  .Chimp-container {
    position: absolute;
  }
  .face-left {
    padding-right: 6px;
  }
  .mouth {
    @include transform(rotate(-90deg));
    position: absolute;
    left: 23px;
    bottom: -6px;
  }
}